#contentad121069
script(type='text/javascript').
  (function(d) {
  var params =
  {
  id: "664c16ed-e244-4401-b0de-26167df79814",
  d:  "eW91ZHJld2FraW5nLmNvbQ==",
  wid: "121069",
  cb: (new Date()).getTime()
  };
  var qs=[];
  for(var key in params) qs.push(key+'='+encodeURIComponent(params[key]));
  var s = d.createElement('script');s.type='text/javascript';s.async=true;
  var p = 'https:' == document.location.protocol ? 'https' : 'http';
  s.src = p + "://api.content.ad/Scripts/widget2.aspx?" + qs.join('&');
  d.getElementById("contentad121069").appendChild(s);
  })(document);
