.footer
	.inner 
		.facebook-info
			.fb-like(data-href=host, data-width='100%', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
		| &copy; 2015 #{siteTitle}