.footer
	.inner
		.twitter-info
			include ./twitter-follow.jade
		.facebook-info
			.fb-like(style='text-align: center', data-width='340px', data-href=host, data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
		| &copy; 2015 #{siteTitle}