script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
// Fixed Bottom
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-9239928149825256', data-ad-slot='4548947322', data-ad-format='auto')
script.
	(adsbygoogle = window.adsbygoogle || []).push({});