.pure-menu
  a.pure-menu-heading(href='/') You Drew A King.
  nav
    ul.pure-menu-list
      li.pure-menu-item.menu-item-divideds.search
        form.pure-form(method='get', action='/search', name='search')
          input.pure-u-1(type='text', required='', name='q', placeholder='Search rules')#search-input
      li.pure-menu-item
        a.pure-menu-link(href='/rule', title='Get a random rule') Random Rule
      li.pure-menu-item
        a.pure-menu-link(href='/rules', title='View all of the rules') All Rules
      li.pure-menu-item
        a.pure-menu-link(href='/suggestion', title='Submit a new rule to us') Submit A Rule
      li.pure-menu-item
        a.pure-menu-link(href='/how-to-play', title='Learn how to play Kings') How to Play
    