extends layout

block content
  .header
    h1 How to Play
  .content
    ol
      li
        | Prepare beverages.
      li
        | Arrange the deck into a pile.
      li 
        | Draw a card.
      li
        | Read that card.
      li
        | Refer to the key below.
      li
        | Next person repeats step 3.
      li
        | Continue until no more cards are left.
    
    .card-key
      .pure-g
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title King
            p.card-key-description 
              strong Make a rule.  
              | It will carry over the rest of the game. And yes, you can create a rule that vetoes another rule. Also, we can <a href="/rule">help</a> in case you can't think of one. 
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Queen
            p.card-key-description
              strong Question Master. 
              | Anytime you ask someone a question and that person answers that question, that person drinks. You continue being the Question Master until the next queen is drawn.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Jack
            p.card-key-description
              strong Categories. 
              | Think of a good category. Like candy bars. Go in a circle, each person naming a unique member of that category. First person to blank out drinks.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Ten
            p.card-key-description
              strong Story time. 
              | Say a word. Next person says your word, plus another, while still forming a sentence. Next person says both words, plus another, while still forming a sentence. You get it. First person to mess up repeating the whole sentence or to blank out drinks. 
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Nine
            p.card-key-description
              strong Rhyme time. 
              | Think of a word that's fairly simple to rhyme with. Go in a circle, each person naming a different word that rhymes with it. First person to blank out drinks.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Eight
            p.card-key-description
              strong Pick a date. 
              | Choose another player to be your date. Anytime you drink, that person drinks. Unless that player later chooses you as their date, you don't need to drink when they drink.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Seven
            p.card-key-description
              strong Heaven. 
              | Last person to point at the sky has to drink.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Six
            p.card-key-description
              strong For dicks. 
              | All the guys drinks.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Five
            p.card-key-description
              strong Alive. 
              | Everyone drinks.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Four
            p.card-key-description
              strong For whores. 
              | All the girls drink. We didn't coin this name, so don't blame us.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Three
            p.card-key-description
              strong Me. 
              | You drink.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Two
            p.card-key-description
              strong You. 
              | Pick someone. They must drink.
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Joker
            p.card-key-description 
              | Use your imagination.
      