extends layout

block content
  .header
    h1 How to Play
  .content
    ol
      li
        | Prepare beverage.
      li
        | Arrange the deck into a pile.
      li 
        | Draw a card.
      li
        | Read that card.
      li
        | Refer to the key below.
    
    .card-key
      .pure-g
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title King
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Queen
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Jack
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Ten
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Nine
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Eight
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Seven
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Six
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Five
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Four
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Three
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Two
            p.card-key-description Something something something
        .pure-u-1.pure-u-md-1-2
          .card-key-item
            h1.card-key-title Joker
            p.card-key-description Something something something
      