extends layout

block content
  .content
    .hero
      .hero-titles
        h1 King's Cup Rule Master
        h2 Drew a king? Need a rule?
      .hero-cta
        a.pure-button.pure-button-primary.pure-button-large(href='/rule') Get a rule
    p
      span.lead B
      | orn on the latest of nights when all was well in the world as we enjoyed the fine taste of a stout
      | and the even finer company of friends, we have compiled a list of some of the most classic rules created
      | by the most tyrannical of kings. Some clever, original rules devised by rulers a bit more devilish have also
      | been included for your amusement. For the sake of spontaneity, these rules are available in random order, 
      | awaiting only your curiosity.
    p 
      | If this is your first journey into the world of King's Cup, consult the <a href="/how-to-play">guide</a>
      | before you begin your venture.
    p 
      | If you have ideas of your own that have been proven successful amongst your own nobles, perhaps you should
      | consider <a href="/suggest">suggesting</a> it to us. Those deemed worthy will be drafted into our official rules 
      | for all of the world to discover and ignite the fondest of memories. 
    P 
      | Cheers, and may the most heavenly of beers be yours to savor.
