extends layout

block content
  .content
    .hero
      .hero-titles
        h1 The King's Cup Rule Maker
        h2 Draw a king? Need a rule?
      .hero-cta
        a.pure-button.pure-button-primary(href='/rule') Get a rule
