extends layout

block content
  .content
    .hero
      .hero-inner
        .hero-titles
          h1.title= siteTitle
          p.hero-desc= siteDescription
        .hero-cta
          a.pure-button.pure-button-primary.pure-button-large(href='/rule') Get a rule
    include ./partials/google-ads.jade