doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/styles/bundle.css')
    
  body
    #layout
      a#menuLink.menu-link(href='#menu')
        span
      block content
    script(type="text/javascript", src="/javascripts/side-menu.js")
