doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/build/styles/bundle.css')
    
  body
    #layout
      a#menu-link.menu-link(href='#menu')
        span
      #menu
        .pure-menu
          //a.pure-menu-heading(href='/') King's Cup Rule Master
          ul.pure-menu-list
            li.pure-menu-item
              a.pure-menu-link(href='/') Home
            li.pure-menu-item
              a.pure-menu-link(href='/rule') Get a rule
            li.pure-menu-item
              a.pure-menu-link(href='/how-to-play') How to play
      #main
        block content
      #footer
        .inner &copy; 2015 King's Cup Rules
    script(type="text/javascript", src="/javascripts/side-menu.js")
