extends layout

block content
  .header
    h1= name
  .content
    img.content-subhead.pure-img(src=image)
    p= description
    .pure-form
      input(type='url', value=permalink, readonly='')
      button.pure-button.pure-button-secondary(type='button') Share
    a.pure-button.pure-button-primary(href='/rule') Get a different rule
