extends layout

block content
  .header
    h1= name
  .content
    .kings-rule
      .image
        //img(src=image)
      .description
        p= description
      .actions
        .share
          .pure-form
            .pure-g
              .pure-u-16-24
                input.pure-u-23-24(type='text', value=permalink, readonly='')
              .pure-u-8-24
                button.pure-u-1.pure-button.pure-button-secondary(type='button') Share
        .different-rule
          a.pure-button.pure-button-primary(href='/rule') Get a different rule
