extends layout

block content
	.header
		h1 Results for #{keyword}
	.content
		if rules.length
			include ./partials/rules-preview.jade
		else
			h1.search-result-title We got nothing for that.
			
		