extends layout
block content
	.header
		h1 Thank You
	.content
		p If your suggestion can survive unimaginable scrutiny we'll add it and make it official.
		.text-center
			a.pure-button.pure-button-primary(href='/') Go home
				
		