/* colors - https://coolors.co/252323-2e86ab-dd1a1a-f2d298-f5f1ed */

body {
	color: #252323;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: #DE1A1A;
}

.header, .content {
	max-width: 568px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	border-bottom: none;
}

.lead {
	float: left;
	font-size: 6em;
	padding: 24px 10px 10px 0;
}

.pure-form input[type="text"], input[type="text"] {
	background-color: #F5F1ED;
	border-radius: 0;
	box-shadow: none;
	color: #000;
	border-color: transparent;
}

	.pure-form input[type="text"]:focus, input[type="text"]:focus {
		background-color: #fff;
	}

.pure-button {
	border: 1px solid transparent;
}
	
	.pure-button-primary, a.pure-button-primary {
		background-color: #DE1A1A;
	}
	
	.pure-button-secondary {
		background-color: #2E86AB;
		color: #fff;
	}
	
	.pure-button-large {
		font-size: 1.5em;
	}

.hero {
	padding: 60px 30px 30px;
	margin: 50px 0;
	background-color: #252323;
	color: #fff;
}

	.hero .hero-titles, .hero .hero-cta {
		text-align: center;
	}
	
		.hero .hero-titles h1 {
			font-size: 3em;
			line-height: initial;
			margin: 0;
		}
		
		.hero .hero-titles h2 {
			font-weight: 200;
		}
		
		.hero .hero-cta .pure-button {
			background: #DE1A1A;
			border-color: #fff;
		}
		
.kings-rule {
	max-width: 475px;
	margin: 0 auto;
}
	
	.kings-rule .image {
		margin: 25px 0;
		text-align: center;
	}
	
		.kings-rule .image img {
			height: 200px;
			width: 200px;
		}

	.kings-rule .description {
		line-height: 2.5em;
		text-align: center;
	}
	
	.kings-rule .description p {
		margin-top: 0;
	}
	
	.kings-rule .actions .different-rule {
		margin-top: 10px;
		text-align: right;
	}