/* colors - https://coolors.co/252323-2e86ab-dd1a1a-f2d298-f5f1ed */

@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

:root {
	--primaryColor: #EB011A;
	--infoColor: #2E86AB;
	--darkColor: #00004B;
	--lightColor: #F5F1ED;
	--accentFont: 'Oswald', sans-serif;
	--normalFont: 'Lato', sans-serif;
	--sidebarWidth: 150px;
}

body {
	font-size: 18px;
	color: var(--darkColor);
	font-family: var(--normalFont);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: var(--accentFont);
}

a {
	color: var(--primaryColor);
}

.header, .content {
	max-width: 568px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
}

.header {
	border-bottom: none;
	color: var(--darkColor);
}

	.header h1 {
		
	}

.pure-form input[type="text"], input[type="text"] {
	background-color: var(--lightColor);
	border-radius: 0;
	box-shadow: none;
	color: var(--darkColor);
	border-color: transparent;
	font-family: var(--accentFont);
}

	.pure-form input[type="text"]:focus, input[type="text"]:focus {
		background-color: #fff;
	}

.pure-button, a.pure-button, button.pure-button, button[type="button"].pure-button {
	border: 1px solid transparent;
	text-transform: uppercase;
	color: #fff;
	font-family: var(--accentFont);
}
	
	.pure-button:hover, .pure-button:focus {
		opacity: 0.7;
		background-image: none;
	}

	.pure-button-primary, a.pure-button-primary {
		background-color: var(--primaryColor);
	}

	.pure-button-secondary, a.pure-button-secondary {
		background-color: var(--darkColor);
		color: #fff;
	}

	.pure-button-large {
		font-size: 1.5em;
	}

.hero {
	padding: 10px;
	margin: 50px 0;
	border: 3px solid var(--primaryColor);
}

	.hero .hero-titles, .hero .hero-cta {
		text-align: center;
	}

		.hero .hero-titles h1 {
			font-size: 3em;
			line-height: initial;
		}

		.hero .hero-cta .pure-button {
			display: block;
			width: 100%;
		}


.kings-rule {
	max-width: 475px;
	margin: 0 auto;
}

	.kings-rule .image {
		margin: 25px 0;
		text-align: center;
	}

		.kings-rule .image img {
			height: 200px;
			width: 200px;
		}

	.kings-rule .description {
		line-height: 2.5em;
		text-align: center;
	}
	
	.kings-rule .actions .different-rule {
		margin-top: 10px;
		text-align: right;
	}

#footer {
	padding: 0 0 20px 0;
	text-align: center;
	font-size: 0.8em;
}